In [2]:
import pandas as pd

In [5]:
df = pd.read_csv(r'D:\Data Analysis\Level 2 Business Intelligence\Final Project\BI55 - Final Project - Nhóm 1\Raw Dataset\sales.csv', low_memory=False)

In [3]:
# Xem sơ lược df
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 286392 entries, 0 to 286391
Data columns (total 36 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   order_id          286392 non-null  object
 1   order_date        286392 non-null  object
 2   status            286392 non-null  object
 3   item_id           286392 non-null  float64
 4   sku               286392 non-null  object
 5   qty_ordered       286392 non-null  float64
 6   price             286392 non-null  float64
 7   value             286392 non-null  float64
 8   discount_amount   286392 non-null  float64
 9   total             286392 non-null  float64
 10  category          286392 non-null  object
 11  payment_method    286392 non-null  object
 12  bi_st             286392 non-null  object
 13  cust_id           286392 non-null  float64
 14  year              286392 non-null  int64
 15  month             286392 non-null  object
 16  ref_num           286392 non-null  int64
 17  Name Prefix       286392 non-null  object
 18  First Name        286392 non-null  object
 19  Middle Initial    286392 non-null  object
 20  Last Name         286392 non-null  object
 21  Gender            286392 non-null  object
 22  age               286392 non-null  float64
 23  full_name         286392 non-null  object
 24  E Mail            286392 non-null  object
 25  Customer Since    286392 non-null  object
 26  SSN               286392 non-null  object
 27  Phone No.         286392 non-null  object
 28  Place Name        286392 non-null  object
 29  County            286392 non-null  object
 30  City              286392 non-null  object
 31  State             286392 non-null  object
 32  Zip               286392 non-null  int64
 33  Region            286392 non-null  object
 34  User Name         286392 non-null  object
 35  Discount_Percent  286392 non-null  float64
dtypes: float64(9), int64(3), object(24)
memory usage: 78.7+ MB

In [6]:
# Kiểm tra số lượng giá trị null của từng côt
check_null = df.isnull().sum()
print(check_null[check_null>=1])

Series([], dtype: int64)

In [13]:
# Kiểm tra số lượng giá trị duplicate của từng côt

check_duplicate = df.duplicated().sum()
print(check_duplicate)

0

In [9]:
# Xóa duplicate nếu có
df.drop_duplicates(inplace=True)

In [10]:
# Sửa tên cột thành viết thường và cách nhau bởi dấu "_"
df.columns = df.columns.str.lower()
df.columns = df.columns.str.replace(' ', '_')

In [11]:
# Kiểm tra lại tên các cột
df.columns

Index(['order_id', 'order_date', 'status', 'item_id', 'sku', 'qty_ordered',
       'price', 'value', 'discount_amount', 'total', 'category',
       'payment_method', 'bi_st', 'cust_id', 'year', 'month', 'ref_num',
       'name_prefix', 'first_name', 'middle_initial', 'last_name', 'gender',
       'age', 'full_name', 'e_mail', 'customer_since', 'ssn', 'phone_no._',
       'place_name', 'county', 'city', 'state', 'zip', 'region', 'user_name',
       'discount_percent'],
      dtype='object')

In [12]:
# Tiếp tục sửa tên cột phone_no do nó có chứa khoảng trắng ở cuối chữ --> xuất hiện thêm "_"
df.rename(columns={'phone_no._': 'phone_no'}, inplace=True)
df.columns

Index(['order_id', 'order_date', 'status', 'item_id', 'sku', 'qty_ordered',
       'price', 'value', 'discount_amount', 'total', 'category',
       'payment_method', 'bi_st', 'cust_id', 'year', 'month', 'ref_num',
       'name_prefix', 'first_name', 'middle_initial', 'last_name', 'gender',
       'age', 'full_name', 'e_mail', 'customer_since', 'ssn', 'phone_no',
       'place_name', 'county', 'city', 'state', 'zip', 'region', 'user_name',
       'discount_percent'],
      dtype='object')

In [14]:
# Có khoảng 5 giá trị trong cột order_id có sự không đồng nhất, cụ thể là "-1" ở cuối id
df['order_id'] = df['order_id'].replace('-1$', '', regex=True)


df[df['order_id']=='100468520-1']

Empty DataFrame
Columns: [order_id, order_date, status, item_id, sku, qty_ordered, price, value, discount_amount, total, category, payment_method, bi_st, cust_id, year, month, ref_num, Name Prefix, First Name, Middle Initial, Last Name, Gender, age, full_name, E Mail, Customer Since, SSN, Phone No. , Place Name, County, City, State, Zip, Region, User Name, Discount_Percent]
Index: []

[0 rows x 36 columns]

In [14]:
# Chuyển đổi 2 cột dưới về dạng datetime
df.order_date = pd.to_datetime(df['order_date'])
df.customer_since = pd.to_datetime(df['customer_since'])
df[['order_date', 'customer_since']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 286392 entries, 0 to 286391
Data columns (total 2 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   order_date      286392 non-null  datetime64[ns]
 1   customer_since  286392 non-null  datetime64[ns]
dtypes: datetime64[ns](2)
memory usage: 4.4 MB

In [29]:
################################ Chia dataset ra thành các bảng để chuẩn hóa cơ sở dữ liệu ##############################


# table customers
df_customers  = df[['cust_id', 'name_prefix', 'first_name', 'middle_initial', 'last_name', 'full_name', 'gender', 'age', 'e_mail', 'customer_since', 'ssn', 'phone_no', 'zip', 'user_name']]
df_customers.drop_duplicates(inplace=True)


# table orders
df_orders = df[['order_id',	'order_date', 'status',	'sku', 'item_id', 'qty_ordered', 'price', 'value', 'discount_amount', 'total', 'payment_method', 'bi_st', 'ref_num', 'cust_id']]
df_orders.drop_duplicates(inplace=True)


# table products
df_products = df[['item_id', 'category', 'price']]
df_products.drop_duplicates(inplace=True)

# table regions
df_regions = df[['zip', 'cust_id', 'place_name', 'county', 'city', 'state', 'region']]
df_regions.drop_duplicates(inplace=True)

C:\Users\nhuva\AppData\Local\Temp\ipykernel_50280\1893682952.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_customers.drop_duplicates(inplace=True)
C:\Users\nhuva\AppData\Local\Temp\ipykernel_50280\1893682952.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_orders.drop_duplicates(inplace=True)
C:\Users\nhuva\AppData\Local\Temp\ipykernel_50280\1893682952.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_products.drop_duplicates(inplace=True)
C:\Users\nhuva\AppData\Local\Temp\ipykernel_50280\1893682952.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_regions.drop_duplicates(inplace=True)

In [30]:
# Xuất file csv mà không có cột index
df_customers.to_csv('customers.csv', index=False)
df_orders.to_csv('orders.csv', index=False)
df_products.to_csv('products.csv', index=False)
df_regions.to_csv('regions.csv', index=False)